/ZD.Wildebeest.Core/target
/ZD.Wildebeest.Core/build
/ZD.Wildebeest.Core/dist
/ZD.Wildebeest.Core/nbproject/private
/repo
/ZD.Wildebeest.Log4J/nbproject/private/
/ZD.Wildebeest.Log4J/dist/
/ZD.Wildebeest.Log4J/build/
/ZD.Wildebeest.Log4J/target
/website/source/rel
/project.override.properties
*.swp
/ZD.Wildebeest.SLF4J/nbproject/private/
/ZD.Wildebeest.SLF4J/build/
/ZD.Wildebeest.SLF4J/target
/ZD.Wildebeest.SLF4J/dist/
/assembly/target
/ZD.Wildebeest.Log4J/build/
/ZD.Wildebeest.Log4J/dist/
/ZD.Wildebeest.Log4J/nbproject/private/
/ZD.Wildebeest.SLF4J/nbproject/private/
