
	h1, h2 {
		font-family: Open Sans, arial, sans-serif;
		font-weight: 300;
		margin-bottom: 20px;
		padding: 0;
	}

	h1 {
		font-size: 22pt;
	}

	h2 {
		font-size: 18pt;
	}

	p {
		font-family: Open Sans;
		font-weight: normal;
	}

	#main h1 {
		font-size: 34pt;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	#main h2 {
		font-size: 22pt;
	}

	div.pictureBox {
		margin-top: 30px;
		margin-bottom: 30px;
		background-color: #ddecd9;
		padding: 30px;
		text-align: center;
	}

	#footer {
		text-align: center;
	}

