
	h1, h2 {
		font-family: Open Sans, arial, sans-serif;
		font-weight: 300;
		margin-bottom: 20px;
		padding: 0;
	}

	h1 {
		font-size: 22pt;
	}

	h2 {
		font-size: 18pt;
	}

	p {
		font-family: Open Sans;
		font-weight: normal;
	}

	#main h1 {
		font-size: 28pt;
	}

